.tab {
  z-index: 11;
  width: 300px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  position: relative;
}

.extendedTab {
  bottom: 300px;
}

.conversation {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
  height: 300px;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.conversation textarea {
  overflow: auto;
  resize: none;
  height: 30px;
  width: 100%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, .8);
}

.text-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  padding: 0 5px;
}

.text-container .text {
  position: relative;
}

.messages-container {
  height: 90%;
  padding: 5px;
  overflow-y: scroll;
}

.display-message-right {
  border-top-left-radius: 35px;
  transform: translateX(100%);
}

.display-message-left {
  border-top-right-radius: 35px;
}

.unread-message {
  background: lightcoral;
}

.read-message {
  background: lightgreen;
}

