<div #tab
     class="tab {{messageReceived.length > 0 && !messageReceived[messageReceived.length - 1].read ? 'unread-message' : 'read-message'}}"
     (click)="displayChatRequest(chatRequest, tab)">
  {{chatRequest.username}}
</div>

<div class="conversation">
  <p>{{loginStatusMessage}}</p>
  <div class="messages-container">
    <p *ngFor="let message of messageReceived" class="{{
          message.sender.username === authService.userProfile.username ?
          'display-message-right' : 'display-message-left'}}">
      {{message.content}}
      <span>{{message.receptionDate | date}}</span>
    </p>
  </div>
  <div class="text-container">
    <div class="text">
      <textarea #message placeholder="Type a message" (keyup.enter)="sendSimpleMessage(message, 0)"></textarea>
    </div>
  </div>
</div>
