<div class="col-lg-12 col-md-12 col-sm-12" *ngIf="authService.isLoggedIn">
  <div class="header-container col-lg-9 col-md-9 col-sm-9">
    <app-header class="header"></app-header>
  </div>
  <app-chat-requests-view class="col-lg-3 col-md-3 col-sm-3 crv-container"></app-chat-requests-view>

</div>
<div class="header-mobile col-12">
  <app-header class="header"></app-header>
</div>
<router-outlet></router-outlet>

<footer class="row">
  <app-footer></app-footer>
</footer>
