<h1>Prostagma</h1>
<div class="auth col-sm-12 col-md-12 col-lg-12">
  <div #authChild class="auth_children login  col-sm-5 sol-md-5 col-lg-5" (click)="hover(authChild)">
    <h4>Log in to continue your adventure !</h4>
      <p>{{message}}</p>
        <form [formGroup]="authLoginForm" (ngSubmit)="onSubmit(2)">
            <div class="form-group">
                <label>
                    Email :
                    <input type="text" formControlName="email" class="form-control auth_child">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password :
                    <input type="password" formControlName="password" class="form-control auth_child">
                </label>
            </div>
          <button type="submit" [disabled]="!authLoginForm.valid" class="btn btn-primary auth_submit">Log in</button>
        </form>
    <!--        <div class="to_subscribe">-->
    <!--            <p>-->
    <!--                First time among us ?-->
    <!--              <a #login routerLink="/auth" *ngIf="!authService.isLoggedIn">Sign up</a>-->
    <!--            </p>-->
    <!--        </div>-->
    </div>

  <div class="col-sm-2 col-md-2 col-lg-2" style="display: inline-block"></div>
  <div class="auth_children subscribe col-sm-5 sol-md-5 col-lg-5" (click)="hover(authChild)">
    <h4>First connection ?</h4>
    <!--    <div class="form_errors">-->
    <!--      <div *ngIf="password.invalid" class="form_error">-->
    <!--        <h6>Warning! Your attention is required here!</h6>-->
    <!--        <div *ngIf="password.invalid && password.errors.pattern">-->
    <!--          <ul>-->
    <!--            Your password must follow these prerequesites :-->
    <!--            <li>-->
    <!--              Contain at least-->
    <!--              <b>one upper case letter</b>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              Contain at least-->
    <!--              <b>one lower case letter</b>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              Contain at least-->
    <!--              <b>one number</b>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              Contain at least-->
    <!--              <b>one special character</b>-->
    <!--            </li>-->
    <!--          </ul>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <form [formGroup]="authSubscribeForm" (ngSubmit)="onSubmitSignUp()">
      <div class="first_part">
        <div class="form-group">
          <label>
            Email :
            <input type="text" formControlName="email" class="form-control auth_child">
          </label>

        </div>
        <div class="form-group">
          <label>
            Password :
            <input type="password" formControlName="password" class="form-control auth_child">
          </label>
        </div>
        <div class="form-group">
          <label>
            Username :
            <input type="text" formControlName="username" class="form-control auth_child">
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary auth_submit">Sign up</button>
    </form>
    <!--    <div class="to_login">-->
    <!--      <p>-->
    <!--        Already have an Account ?-->
    <!--        <a routerLink="/auth_login" *ngIf="!authService.isLoggedIn" routerLinkActive="active">Sign in</a>-->
    <!--      </p>-->
    <!--    </div>-->
  </div>
</div>
