.auth {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 50%;
  //background: rgba(126, 106, 175, 0.8);
  color: white;
  //box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5em;
  font-family: Dancing-Script, sans-serif;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
}

.auth_children {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.auth_submit{
  background: transparent;
  border: solid 1px;
  color: white;
  position: relative;
}

@media screen and (max-width: 800px) {
  .auth {
    float: unset;
    text-align: center;
    position: relative;
    top: 60px;
    transform: unset;
  }
}
